body{
    font-family:sans-serif;
    font-weight: 300;
}
.WrapApp{
    min-width:960px;
    width: 100%;
}
.note{
    width: 200px;
    height:auto;
    float: left;
    background-color: yellow;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    margin: 10px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-transform: all 0.3s;
    -moz-transform: all 0.3s;
    -ms-transform: all 0.3s;
    -o-transform: all 0.3s;
    transform: all 0.3s;
}

.note:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 1px 2px rgba(0,0,0,0.24);

}



